#header__section {
    background: #fff;

}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

#header__section .header__logo-col {
    padding: 12px 0px;

}

#header__section .header__logo-col img {
    max-width: 180px;
}