<div style="position: static;">
    <div style="height: 1px; width: 1px; position: absolute; z-index: 100000; top: 0px; visibility: hidden;">
            <!-- <iframe id="a2a_sm_ifr" title="AddToAny Utility Frame" transparency="true" allowtransparency="true" frameborder="0" src="./sm.23.html" style="height: 1px; width: 1px; border: 0px; left: 0px; top: 0px; position: absolute; z-index: 100000; display: none;">
            </iframe> -->
    </div>
</div>




    <footer id="footer__section">
            <div class="container">
				<div class="mob-show">
					<img src="./images/logo.png" class="img-fluid">
					<div class="menu-main-menu-container"><ul id="menu-main-menu-2" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a href="https://helpukraine22.wpengine.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="https://helpukraine22.org/get-help/">Get Help</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://helpukraine22.org/get-involved/">Get Involved</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="https://helpukraine22.org/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://helpukraine22.org/network/">The Network</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="https://helpukraine22.org/partners/">Partners</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://helpukraine22.org/blog/">News</a></li>
</ul></div>				</div>
                <div class="row footer__social-media-row">
                    <div class="col-md-12 d-flex align-items-center">
                        <p class="headline-5 mr-3">Follow our journey</p>
                        <div class="footer__social-media d-flex align-items-center">
                            <a href="https://www.facebook.com/Help-Ukraine-22-100915229227894" class="footer__social-link mr-2" target="_blank">
                                <img src="./images/icon.facebook.svg" class="img-fluid">
                            </a>

                            <a href="https://www.instagram.com/operation.palyanytsya/" class="footer__social-link mr-2" target="_blank">
                                <img src="./images/icon.instagram.svg" class="img-fluid">
                            </a>

                            <a href="https://www.linkedin.com/company/helpukraine22/" class="footer__social-link mr-2" target="_blank">
                                <img src="./images/icon.linkedin.svg" class="img-fluid">
                            </a>

                            <a href="https://www.youtube.com/channel/UCRjkNE-vZ0bn3Xp412KP0VA" class="footer__social-link" target="_blank">
                                <img src="./images/icon.youtube.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
						<a href="https://www.committeeforopendemocracy.org/">
                        	<img src="./images/footer_logo.jpg" class="img-fluid">
						</a>
                    </div>
                    <div class="col-md-8">
                        <div class="subtitle-1 color-grey">Help Ukraine 22 "Operation Palyanytsya" is a humanitarian relief project administered and directed by The Committee for Open Democracy (COD), a US-based 501(c)3 non profit organization of the Internal Revenue Code (EIN 27-3930552). Your contribution is tax deductible to the extent allowed by law. No goods or services were provided in exchange for your financial donation. For more information, please visit: <a class="ql-link" href="http://www.committeeforopendemocracy.org/" target="_blank" rel="noopener noreferrer">www.committeeforopendemocracy.org</a>.</div>
                    </div>
                </div>
            </div>
        </footer>