<header id="header__section">
    <div class="container">
        <div class="row header__row">
            <div class="col-md-2 col-lg-2 col-xl-2 header__logo-col">
                <a href="https://_helpukraine22.org/">
                    <img src="./images/logo.png" class="img-fluid header__logo">
                </a>

                <a href="https://helpukraine22.org/#" class="mobile__menu-open">
                    <img src="./images/icon.menu.svg" class="img-fluid">
                </a>
            </div>

            <div class="col-md-8 header__menu-col justify-content-center d-flex align-items-center">
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu-1" class="menu">

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a href="https://_helpukraine22.wpengine.com/">Home</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="https://_helpukraine22.org/get-help/">Get Help</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://_helpukraine22.org/get-involved/">Get Involved</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="https://_helpukraine22.org/about/">About</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://_helpukraine22.org/network/">The Network</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="https://_helpukraine22.org/partners/">Partners</a></li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://_helpukraine22.org/blog/">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 header__donate-col">
                <a href="https://helpukraine22.org/donate"
                    class="header__donate-btn text-uppercase text-white">
                    <img src="./images/icon.heart.svg" class="img-fluid mr-2"> Donate
                </a>
            </div>

            <!--  <div class="top__wrapper-form">
        <h2 class="top__wrapper-form-title">Donate for Ukraine</h2>
            <p class="top__wrapper-form-subtitle">Select your impact to donate now:</p>
                <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/hero-section" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
            <div class="d-flex justify-content-between top__wrapper-form-prices">
                <div class="top__wrapper-form-price">
                    $50
                </div>

                <div class="top__wrapper-form-price">
                    $200
                </div>

                <div class="top__wrapper-form-price">
                    $500
                </div>
            </div> -->
<!--                     <div class="top__wrapper-form-content">
                <input type="text" class="top__wrapper-form-input w-100" placeholder="$, Enter your sum" />
                <button type="submit" class="top__wrapper-form-submit text-white text-uppercase">
                    <img src="/img/icons/icon.heart.svg" class="img-fluid" />
                    Donate
                    <img src="/img/icons/icon.arrow-right.svg" class="img-fluid" />
                </button>

            </div> -->
        </div>
        </div>

</header>