<section id="involved__section" class="d-flex align-items-center">
    <h2 class="involved__section-title headline-1">Get involved Get involved Get involved</h2>
    <div class="container">
        <div class="row involved__blocks-row justify-content-center">

                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">I want to help</div>
                            <div class="subtitle-1 color-grey mb-4">Я можу допомогти</div>

                            <p class="body-1">I would like to donate my time, resources or connections. </p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://form.jotform.com/220574844002146" class="button color-blue text-uppercase">
                                Get started                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">I need help</div>
                            <div class="subtitle-1 color-grey mb-4">Мені потрібна допомога</div>

                            <p class="body-1">Get help for yourself or someone you know needs help in Ukraine. </p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://www.tfaforms.com/4974801" class="button color-blue text-uppercase">
                                Get started now                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">Speak to a Doctor</div>
                            <div class="subtitle-1 color-grey mb-4">Поговоріть з лікарем</div>

                            <p class="body-1">Free online medical support for Ukrainians</p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://t.me/uaemergency" class="button color-blue text-uppercase">
                                medical support                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">Donate</div>
                            <div class="subtitle-1 color-grey mb-4">Пожертвувати кошти</div>

                            <p class="body-1">I would like to contribute financially to this cause. </p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://helpukraine22.org/donate" class="button color-blue text-uppercase">
                                Donate                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">Grants for NGOs</div>
                            <div class="subtitle-1 color-grey mb-4">Гранти для NGOs</div>

                            <p class="body-1">Get grants for your NGO helping Ukraine</p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://form.jotform.com/220684640312045" class="button color-blue text-uppercase">
                                Grants                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 mb-5">
                    <div class="involved__block d-flex flex-column justify-content-between">
                        <div class="involved__block-content">
                            <div class="headline-5">Medical Grants</div>
                            <div class="subtitle-1 color-grey mb-4">Медичні гранти</div>

                            <p class="body-1">Get grants for medicine &amp; medical institutions</p>
                        </div>
                        <div class="involved__block-link">
                            <a href="https://form.jotform.com/221212249600341" class="button color-blue text-uppercase">
                                MEDGRANTS                                <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>