<section id="mission__section" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mission__title">Our Mission</h2>
                <p class="subtitle-1 mb-5">HelpUkraine22 exists to fill the humanitarian aid gap inside Ukraine and meet the needs of the most

vulnerable people as fast, securely and as directly as possible.</p>
                <img src="./images/mission_bg.svg" class="mission__img d-none">

                <img src="./images/mission_main_img.png" class="img-fluid d-block d-lg-none d-xl-none mb-5">

                <a href="https://helpukraine22.org/donate/" class="mission__btn top__wrapper-form-submit text-white text-uppercase">
                    <img src="./images/icon.heart-white.svg" class="img-fluid">
                    Donate                    <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6">
                <img src="./images/mission_main_img.png" class="d-none d-lg-block d-xl-block mission__analytics-img img-fluid">
            </div>
        </div>
    </div>
</section>