<div class="mobile__menu">
    <div class="mobile__menu-header d-flex align-items-center justify-content-between">
        <a href="https://helpukraine22.org/" class="mobile__menu-logo">
            <img src="./images/logo.png" class="img-fluid">
        </a>

        <a href="https://helpukraine22.org/#" class="mobile__menu-close">
            <img src="./images/icon.close-menu.svg" class="img-fluid">
        </a>
    </div>
    <div class="mobile__menu-content">
        <div class="menu-main-menu-container">

            <ul id="menu-main-menu" class="menu">
                <li id="menu-item-5" class="menu-item   menu-item-5"><a href="https://helpukraine22.wpengine.com/">Home</a></li>

                <li id="menu-item-37" class="menu-item      menu-item-type-post_type menu-item-object-page menu-item-37"><a href="https://helpukraine22.org/get-help/">Get Help</a></li>

                <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="https://helpukraine22.org/get-involved/">Get Involved</a></li>

                <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="https://helpukraine22.org/about/">About</a></li>

                <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a href="https://helpukraine22.org/network/">The Network</a></li>

                <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="https://helpukraine22.org/partners/">Partners</a></li>

                <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://helpukraine22.org/blog/">News</a></li>
        </ul>
    </div>
        <a href="https://helpukraine22.org/donate" class="mobile__donate-btn color-blue text-uppercase d-flex align-items-center">
            Donate
            <img src="./images/icon.heart.svg" class="ml-3 img-fluid">
        </a>
    </div>
</div>