<section id="numbers__section" class="d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">

                            <div class="col-md-3 number__block text-center">
                    <div class="number__block-img">
                        <img src="./images/icon.home_.svg" class="img-fluid">
                    </div>
                    <div class="number__block-title">
                        <h2 class="text-center text-white">
														<span class=" counter" data-to="980" data-speed="700">60</span>
													</h2>
                        <p class="number__block-caption text-center text-white">NGOs &amp; Medical Institutions Supported</p>
                    </div>
                </div>
                            <div class="col-md-3 number__block text-center">
                    <div class="number__block-img">
                        <img src="./images/icon.car_.svg" class="img-fluid">
                    </div>
                    <div class="number__block-title">
                        <h2 class="text-center text-white">
														<span class=" counter" data-to="980" data-speed="700">4200</span>
							+						</h2>
                        <p class="number__block-caption text-center text-white">Evacuated</p>
                    </div>
                </div>
                            <div class="col-md-3 number__block text-center">
                    <div class="number__block-img">
                        <img src="./images/icon.community.svg" class="img-fluid">
                    </div>
                    <div class="number__block-title">
                        <h2 class="text-center text-white">
							<span class=" counter" data-to="980" data-speed="700">166998</span></h2>
                        <p class="number__block-caption text-center text-white">Helped</p>
                    </div>
                </div>
                            <div class="col-md-3 number__block text-center">
                    <div class="number__block-img">
                        <img src="./images/icon.dollar.svg" class="img-fluid">
                    </div>
                    <div class="number__block-title">
                        <h2 class="text-center text-white">
							$							<span class=" counter" data-to="980" data-speed="700">1252038</span>
													</h2>
                        <p class="number__block-caption text-center text-white">Value of Aid Provided</p>
                    </div>
                </div>

        </div>
    </div>
</section>