<section id="team__section" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="team__headline">Team Expertise</h2>
            </div>
        </div>
        <div class="row">

                            <div class="col-lg-4 col-md-6 ">
                    <div class="team__block">
                        <h6 class="team__block-title headline-6">Experience</h6>
                        <p class="team__block-caption body-1">We have an average of 20+ years experience working in Ukraine with backgrounds in human rights, business, charity, &amp; government.</p>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6 ">
                    <div class="team__block">
                        <h6 class="team__block-title headline-6">Integration</h6>
                        <p class="team__block-caption body-1">As an American initiative with Ukraine experience, we have diverse and deep geopolitical, NGO, and business relationships.</p>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6 ">
                    <div class="team__block">
                        <h6 class="team__block-title headline-6">Agility</h6>
                        <p class="team__block-caption body-1">We have the ability to rapidly respond to changing events.</p>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6 ">
                    <div class="team__block">
                        <h6 class="team__block-title headline-6">Communication</h6>
                        <p class="team__block-caption body-1">Our team is fluent in local languages.</p>
                    </div>
                </div>
                            <div class="col-lg-4 col-md-6 ">
                    <div class="team__block">
                        <h6 class="team__block-title headline-6">Dedication</h6>
                        <p class="team__block-caption body-1">Our team members were displaced too. We are 100% dedicated to helping Ukraine now &amp; rebuilding after the war.</p>
                    </div>
                </div>

            <div class="col-lg-4 col-md-6 ">
                <div class="team__block-last d-flex align-items-end">
                    <a href="https://helpukraine22.org/our-team/" class="team__block-more button text-white text-uppercase d-flex align-items-center justify-content-between">
                        Meet the team
                        <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>
        <div class="row team__row-more justify-content-center">
            <div class="col-md-4">
                <a href="https://helpukraine22.org/donate/" class="team__donate-btn button text-uppercase text-white d-flex align-items-center justify-content-between">
                    <img src="./images/icon.heart-white.svg" class="img-fluid">
                    Donate                    <img src="./images/icon.arrow-right-white.svg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>