<section id="help__section" class="d-flex align-items-end">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="headline-1 color-blue">Who We Help</h2>
                <p class="headline-7">Wars and conflicts always have the harshest effect on the most vulnerable including women, children, the elderly and the disabled. That is why those are the people we are focusing on for assistance as they flee conflict to seek security and relief.</p>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">

                            <div class="col-md-5 mt-5">
                    <div class="help__block">
                        <div class="help__block-sign headline-6">Women</div>
                        <div class="help__block-img" style="background: url(./images/bg_woman.jpg);background-size: cover;background-position: center;"></div>
                        <div class="help__block-caption">
                            <p class="subtitle-1">Conflict exposes women and girls to increased risk of trafficking and gender based violence.</p>
                        </div>
                    </div>
                </div>
                            <div class="col-md-5 mt-5">
                    <div class="help__block">
                        <div class="help__block-sign headline-6">Children</div>
                        <div class="help__block-img" style="background: url(./images/bg_children.jpg);background-size: cover;background-position: center;"></div>
                        <div class="help__block-caption">
                            <p class="subtitle-1">Conflict challenges all family structures leaving children disproportionately affected. </p>
                        </div>
                    </div>
                </div>
                            <div class="col-md-5 mt-5">
                    <div class="help__block">
                        <div class="help__block-sign headline-6">Women With Children</div>
                        <div class="help__block-img" style="background: url(./images/bg_woman_and_child.jpg);background-size: cover;background-position: center;"></div>
                        <div class="help__block-caption">
                            <p class="subtitle-1">This is the most vulnerable group in any conflict scenario, given limitations in mobility, access to funding, and exposure to violence. </p>
                        </div>
                    </div>
                </div>
                            <div class="col-md-5 mt-5">
                    <div class="help__block">
                        <div class="help__block-sign headline-6">The Elderly</div>
                        <div class="help__block-img" style="background: url(./images/bg_eldery.jpg);background-size: cover;background-position: center;"></div>
                        <div class="help__block-caption">
                            <p class="subtitle-1">Many elderly people are unable or unwilling to flee. We provide a steady supply of food, someone to talk to, and medical help.</p>
                        </div>
                    </div>
                </div>
                            <div class="col-md-5 mt-5">
                    <div class="help__block">
                        <div class="help__block-sign headline-6">Special Needs</div>
                        <div class="help__block-img" style="background: url(./images/bg_needs.jpg);background-size: cover;background-position: center;"></div>
                        <div class="help__block-caption">
                            <p class="subtitle-1">People with a physical or mental handicap are at extreme risk and they often require additional assistance with transportation and medicine.</p>
                        </div>
                    </div>
                </div>

            <div class="col-md-5"></div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-10">
                <div class="donate__help">
                    <h5 class="headline-5 text-white">Donate for Ukraine</h5>
                    <p class="subtitle-1 text-white">Select your impact to donate now:</p>
<!--
                    <form method="POST" class="donate__help-form d-flex">
                        <div class="d-flex justify-content-between top__wrapper-form-prices">
                            <div class="top__wrapper-form-price">
                                $50
                            </div>

                            <div class="top__wrapper-form-price">
                                $200
                            </div>

                            <div class="top__wrapper-form-price">
                                $500
                            </div>
                        </div>
                        <div class="donate__help-text">
                            <input type="text" name="sum" placeholder="$, Enter your sum" class="text-center" />
                        </div>
                        <div class="donate__help-sub">
                            <button type="submit" class="top__wrapper-form-submit color-blue text-uppercase">
                                <img src="https://helpukraine22.org/wp-content/themes/help-ukraine/img/icons/icon.heart.svg" class="img-fluid" />
                                Donate
                                <img src="https://helpukraine22.org/wp-content/themes/help-ukraine/img/icons/icon.arrow-right-blue.svg" class="img-fluid" />
                            </button>
                        </div>
                    </form>-->

                </div>
				<div style="text-align: center;">

				<!-- <script src="./js/widget.js" paypalexpress="false"></script> -->

                <!-- <iframe src="./partials/hero-section(1).html" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height: none !important; height: 502px;" data-donorbox-id="DonorBox-f2"></iframe> -->

					</div>
            </div>
        </div>
    </div>
</section>